h1 {
  padding-top: 4%;
}

h2 {
  line-height: 2;
}
.title {
  height: 11rem;
  text-align: center;
  background-color: #4285f4;
  color: #fff;
}
.btn {
  margin: 1rem;
}

.descr {
  padding: 0 1rem 0;
}
.flex-child:first-child {
  width: 25%;
  margin-left: 1rem;
}

.flex-container {
  display: flex;
  margin-top: 2rem;
}

#content {
  margin: 4rem;
}

#form2 {
  margin-top: 2rem;
}
